<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-box contact-form">
            @model PhysicianLocator.Models.ForgotPasswordViewModel

            @{
                ViewBag.Title = "Forgot Password";
            }

            <h2>@ViewBag.Title</h2>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="">

                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.EditorFor(model => model.ForgotPassword_userName, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.LabelFor(model => model.ForgotPassword_userName, htmlAttributes: new { @class = "control-label required" })
                        @Html.ValidationMessageFor(model => model.ForgotPassword_userName, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.ForgotPassword_email, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.LabelFor(model => model.ForgotPassword_email, htmlAttributes: new { @class = "control-label required" })
                        @Html.ValidationMessageFor(model => model.ForgotPassword_email, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        <div class="text-center">
                            <button class="btn" type="submit">Send Recovery Email</button>
                        </div>
                    </div>
                </div>
            }

            <div class="text-center recent-links">
                @Html.ActionLink("Already have Account", "Login", "AccountManagment")
                <br />
                @Html.ActionLink("Create a New Account?", "Register", "AccountManagment")

            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
<script>
    if (window.location.href === "http://localhost:30578/AccountManagment/ForgotPassword") {
        $("body").addClass("bg-login");
    }
</script>

<style>
     .required:before {
        content: "*";
        font-weight: bold;
        font-size: large;
        color: red;
    }
</style>
