@model PhysicianLocator.Models.AdminHospitalViewModel
@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @* @Html.HiddenFor(model => model.HospitalId)*@

        <div class="panel panel-default">
            <div class="panel-heading text-center contact-header">@Model.HospitalName</div>
            <div class="panel-body">
                @******************************************@
                @*<input type="hidden" id="hdnID" value="@Model.HospitalId" />*@

                <table>
                    <tr>
                        <td>

                            <input type="hidden" id="hdnID" value="@Model.HospitalId" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_HospitalName">@Model.HospitalName</label>
                            </span>
                            <input type="text" id="txt_HospitalName" value="@Model.HospitalName" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_NumberOfBranches">@Model.NumberOfBranches</label>
                            </span>
                            <input type="text" id="txt_NumberOfBranches" value="@Model.NumberOfBranches" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_NumberOfBeds">@Model.NumberOfBeds</label>
                            </span>
                            <input type="text" id="txt_NumberOfBeds" value="@Model.NumberOfBeds" class="edit-mode" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_NumberOfDoctors">@Model.NumberOfDoctors</label>
                            </span>
                            <input type="text" id="txt_NumberOfDoctors" value="@Model.NumberOfDoctors" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_Specialities">@Model.Specialities</label>
                            </span>
                            <input type="text" id="txt_Specialities" value="@Model.Specialities" class="edit-mode" />
                        </td>
                    </tr>
                </table>

                @******************************************@

            </div>
        </div>
    </div>


}
@*<button class="edit-user display-mode">Edit</button>
<button class="save-user edit-mode">Save</button>
<button class="cancel-user edit-mode">Cancel</button>

<script>
    function Closepopup() {
        $(".ui-dialog-titlebar-close").click();
      }
      $(document).ready(function () {

          $('.edit-user').click(function () {

              var dad = $(this).parent().parent();
              dad.find('edit-mode').hide();
              dad.find('display-mode').show().focus();
          });

          $('.edit-mode').hide();
          $('.edit-user, .cancel-user').on('click', function () {
              var tr = $(this).parent();
              tr.find('.edit-mode, .display-mode').toggle();
          });
          $('.save-user').click(function () {

              var dad = $(this).parent().parent();
              var HospitalId = dad.find("#hdnID").val();

              var HospitalName = dad.find("#txt_HospitalName").val();
              dad.find("#lbl_HospitalName").text(HospitalName);

              var NumberOfBranches = dad.find("#txt_NumberOfBranches").val();
              dad.find("#lbl_NumberOfBranches").text(NumberOfBranches);

              var NumberOfBeds = dad.find("#txt_NumberOfBeds").val();
              dad.find("#lbl_NumberOfBeds").text(NumberOfBeds);

              var NumberOfDoctors = dad.find("#txt_NumberOfDoctors").val();
              dad.find("#lbl_NumberOfDoctors").text(NumberOfDoctors);

              var Specialities = dad.find("#txt_Specialities").val();
              dad.find("#lbl_Specialities").text(Specialities);

              dad.find('.edit-mode').hide();
              dad.find('.display-mode').show();

              var Id = parseInt(HospitalId);
              var Name = HospitalName;
              alert(HospitalId + NumberOfBeds+NumberOfDoctors+Specialities);

              var HospitalModel =
              {
                  "HospitalId": HospitalId,
                  "HospitalName": HospitalName,
                  "NumberOfBranches": NumberOfBranches,
                  "NumberOfBeds": NumberOfBeds,
                  "NumberOfDoctors": NumberOfDoctors,
                  "Specialities": Specialities
              };

              $.ajax({

                  url: '/Hospital/ChangeUser/',
                  //data: JSON.stringify({ "HospitalId": Id, "HospitalName": Name }),
                  data: JSON.stringify(HospitalModel),
                  dataType: "json",
                  type: 'POST',
                  contentType: 'application/json; charset=utf-8',
                  success: function (data) {
                  alert(data);
                  }
              });
          });

      });

</script>*@

