@model PhysicianLocator.Models.AdminHospitalViewModel
@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @* @Html.HiddenFor(model => model.HospitalId)*@


        <div class="panel panel-default">
            <div class="panel-heading text-center contact-header">@Model.HospitalName</div>
            <div class="panel-body">
                @******************************************@
                @*<input type="hidden" id="hdnID" value="@Model.HospitalId" />*@

                <table>
                    <tr>
                        <td>

                            <input type="hidden" id="ahid" value="@Model.HospitalId" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>

                            <input type="hidden" id="aID" value="@Model.AddressViewModel1.AddressId" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_Street1">@Model.AddressViewModel1.Street1</label>
                            </span>
                            <input type="text" id="txt_Street1" value="@Model.AddressViewModel1.Street1" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_Street2">@Model.AddressViewModel1.Street2</label>
                            </span>
                            <input type="text" id="txt_Street2" value="@Model.AddressViewModel1.Street2" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_Street3">@Model.AddressViewModel1.Street3</label>
                            </span>
                            <input type="text" id="txt_Street3" value="@Model.AddressViewModel1.Street3" class="edit-mode" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_State">@Model.AddressViewModel1.State</label>
                            </span>
                            <input type="text" id="txt_State" value="@Model.AddressViewModel1.State" class="edit-mode" />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="display-mode">
                                <label id="lbl_CountryName1">@Model.CountryName1</label>
                            </span>
                            <input type="text" id="txt_CountryName1" value="@Model.CountryName1" class="edit-mode" />
                        </td>
                    </tr>
                </table>

                @******************************************@

            </div>
        </div>
    </div>
}

@*<script>
    function Closepopup() {
        $(".ui-dialog-titlebar-close").click();
      }
      $(document).ready(function () {
          $('.edit-user').click(function () {

              var dad = $(this).parent().parent();
              dad.find('edit-mode').hide();
              dad.find('display-mode').show().focus();
          });

          $('.edit-mode').hide();
          $('.edit-user, .cancel-user').on('click', function () {
              var tr = $(this).parent();
              tr.find('.edit-mode, .display-mode').toggle();
          });
          $('.save-user').click(function () {
              

              var dad = $(this).parent().parent();
              var ahid = dad.find("#ahid").val();

              var aID = dad.find("#aID").val();

              var Street1 = dad.find("#txt_Street1").val();
              dad.find("#lbl_Street1").text(Street1);

              var Street2 = dad.find("#txt_Street2").val();
              dad.find("#lbl_Street2").text(Street2);

              var Street3 = dad.find("#txt_Street3").val();
              dad.find("#lbl_Street3").text(Street3);

              var State = dad.find("#txt_State").val();
              dad.find("#lbl_State").text(State);

              var CountryName1 = dad.find("#txt_CountryName1").val();
              dad.find("#lbl_CountryName1").text(CountryName1);

              dad.find('.edit-mode').hide();
              dad.find('.display-mode').show();

              var Id = parseInt(HospitalId);
              var Name = HospitalName;
              alert(HospitalId + NumberOfBeds+NumberOfDoctors+Specialities);

              var HospitalModel =
              {
                  "HospitalId": HospitalId,
                  "Street1": Street1,
                  "Street1": Street1,
                  "Street3": Street3,
                  "State": State,
                  "CountryName1": CountryName1
              };

              $.ajax({

                  url:'/Hospital/ChangeUser/',
                  //data: JSON.stringify({ "HospitalId": Id, "HospitalName": Name }),
                  data: JSON.stringify(HospitalModel),
                  dataType: "json",
                  type: 'POST',
                  contentType: 'application/json; charset=utf-8',
                  success: function (data) {
                  alert(data);
                  }
              });
          });

      });

</script>*@

